Repository Hi-PACE/hipace, pull requests merged in 2021-07, with the labels that each got.

#548 Automatically use small DST for large Resolutions
  docs/source/run/parameters.rst
  src/fields/fft_poisson_solver/fft/WrapCuDST.cpp
Labels: GPU, component: fields, performance

#537 Unify forward and backward dst plans to save GPU memory
  src/fields/fft_poisson_solver/FFTPoissonSolverDirichlet.H
  src/fields/fft_poisson_solver/FFTPoissonSolverDirichlet.cpp
  src/fields/fft_poisson_solver/fft/AnyDST.H
  src/fields/fft_poisson_solver/fft/WrapCuDST.cpp
  src/fields/fft_poisson_solver/fft/WrapDSTW.cpp
Labels: GPU, component: fields, performance

#545 add OpenMP support for transverse and longitudinal derivative
  src/fields/Fields.cpp
Labels: performance

#549 [mini] add missing/errorenous CMake in build description
  docs/source/building/platforms/booster_jsc.rst
  docs/source/building/platforms/maxwell_desy.rst
Labels: documentation

#554 Mesh refinement: initialize the plasma on the correct level
  docs/source/run/parameters.rst
  src/Hipace.cpp
  src/particles/MultiPlasma.H
  src/particles/MultiPlasma.cpp
  src/particles/PlasmaParticleContainer.H
  src/particles/PlasmaParticleContainer.cpp
  src/particles/PlasmaParticleContainerInit.cpp
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/pusher/PlasmaParticleAdvance.cpp
Labels: component: plasma

#555 Add seed to write_beam.py to fix from_file test
  tools/write_beam.py
Labels: CI

#553 CMake: FFTW Search w/ CMake Install
  cmake/dependencies/FFT.cmake
Labels: bug, build, performance

#559 [mini] document compile option -DAMReX_LINEAR_SOLVERS
  docs/source/building/building.rst
Labels: build, component: fields

#557 Field Interpolation
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
Labels: component: fields

#558 Add a few beam profiles
  docs/source/run/parameters.rst
  src/particles/BeamParticleContainer.H
  src/particles/BeamParticleContainer.cpp
  src/particles/BeamParticleContainerInit.cpp
  src/particles/ParticleUtil.H
Labels: component: beam, documentation

#562 Fix: CUDA Host-Side -O3 with CMake
  CMakeLists.txt
  cmake/HiPACEFunctions.cmake
  docs/source/building/building.rst
Labels: GPU, bug, performance

#563 CMake: Warn Unknown Build Type
  cmake/HiPACEFunctions.cmake
Labels: build

#560 [mini] remove unused parameters
  src/Hipace.cpp
Labels: cleaning

#551 Particle tiling and OpenMP threading
  docs/source/run/parameters.rst
  examples/blowout_wake/analysis_slice_IO.py
  src/Hipace.H
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/CMakeLists.txt
  src/particles/MultiBeam.H
  src/particles/MultiBeam.cpp
  src/particles/MultiPlasma.H
  src/particles/MultiPlasma.cpp
  src/particles/SliceSort.H
  src/particles/SliceSort.cpp
  src/particles/TileSort.H
  src/particles/TileSort.cpp
  src/particles/deposition/BeamDepositCurrent.H
  src/particles/deposition/PlasmaDepositCurrent.H
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/deposition/PlasmaDepositCurrentInner.H
  src/particles/pusher/PlasmaParticleAdvance.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  tests/adaptive_time_step.1Rank.sh
  tests/beam_evolution.1Rank.sh
  tests/beam_in_vacuum.SI.1Rank.sh
  tests/beam_in_vacuum.SI.Serial.sh
  tests/beam_in_vacuum.normalized.1Rank.sh
  tests/beam_in_vacuum.normalized.2Rank.sh
  tests/beam_in_vacuum.normalized.Serial.sh
  tests/blowout_wake.2Rank.sh
  tests/blowout_wake.Serial.sh
  tests/blowout_wake_explicit.2Rank.sh
  tests/from_file.SI.1Rank.sh
  tests/from_file.normalized.1Rank.sh
  tests/gaussian_linear_wake.SI.1Rank.sh
  tests/gaussian_linear_wake.normalized.1Rank.sh
  tests/gaussian_weight.1Rank.sh
  tests/grid_current.1Rank.sh
  tests/hosing.2Rank.sh
  tests/ionization.2Rank.sh
  tests/linear_wake.SI.1Rank.sh
  tests/linear_wake.normalized.1Rank.sh
  tests/next_deposition_beam.2Rank.sh
  tests/reset.2Rank.sh
  tests/restart.normalized.1Rank.sh
  tests/slice_IO.1Rank.sh
Labels: component: plasma, performance

#575 OpenMP handling
  CMakeLists.txt
  docs/source/building/building.rst
  docs/source/building/platforms/booster_jsc.rst
Labels: documentation, performance

#576 Fix handling of tiling and GPU
  src/Hipace.cpp
  src/particles/deposition/PlasmaDepositCurrentInner.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
Labels: GPU, component: plasma, performance

#569 fix transverse size of IO for level 1
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
Labels: component: diagnostics, mesh refinement

#570 Fix offset of interpolation and use second order interpolation in x and y
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/fields/fft_poisson_solver/FFTPoissonSolverDirichlet.cpp
Labels: mesh refinement
