Repository Hi-PACE/hipace, pull requests merged in 2022-04, with the labels that each got.

#728 fix beam particle ID in IO; save ID directly, CPU information is outdated
  src/diagnostics/OpenPMDWriter.cpp
  src/utils/IOUtil.H
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
Labels: bug, component: beam, cleaning, component: diagnostics

#695 Don't assume order of fields
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
Labels: component: fields, cleaning

#729 Checksum: Back to openPMD-viewer default
  tests/checksum/backend/openpmd_backend.py
Labels: CI

#730 Add beam jz-rho contribution, optionally
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/MultiBeam.H
  src/particles/MultiBeam.cpp
  src/particles/deposition/BeamDepositCurrent.H
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/deposition/BeamDepositCurrentInner.H
Labels: component: beam

#731 fix sign error in explicit solver
  src/Hipace.cpp
Labels: bug

#734 add do_device_synchronize to sphinx documentation
  docs/source/run/parameters.rst
Labels: documentation

#735 Explicit solver with non-electron plasma
  src/Hipace.cpp
  src/particles/MultiPlasma.H
  src/particles/MultiPlasma.cpp
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
Labels: component: plasma, component: fields, unit system

#736 Update CUDA repo key
  .github/workflows/setup/nvcc11.sh
Labels: bug, CI
