Repository Hi-PACE/hipace, pull requests merged in 2022-05, with the labels that each got.

#732 Dynamically allocate field components based on user settings to save memory
  examples/beam_in_vacuum/analysis.py
  examples/beam_in_vacuum/analysis_open_boundary.py
  src/Hipace.H
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/diagnostics/Diagnostic.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/MultiPlasma.cpp
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/utils/GridCurrent.cpp
  tests/checksum/benchmarks_json/adaptive_time_step.1Rank.json
  tests/checksum/benchmarks_json/beam_evolution.1Rank.json
  tests/checksum/benchmarks_json/beam_in_vacuum.SI.1Rank.json
  tests/checksum/benchmarks_json/beam_in_vacuum.SI.Serial.json
  tests/checksum/benchmarks_json/beam_in_vacuum.normalized.1Rank.json
  tests/checksum/benchmarks_json/beam_in_vacuum.normalized.Serial.json
  tests/checksum/benchmarks_json/beam_in_vacuum_open_boundary.normalized.1Rank.json
  tests/checksum/benchmarks_json/blowout_wake.2Rank.json
  tests/checksum/benchmarks_json/blowout_wake.Serial.json
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/gaussian_weight.1Rank.json
  tests/checksum/benchmarks_json/grid_current.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/reset.2Rank.json
  tests/checksum/reset_all_benchmarks.sh
Labels: component: fields

#741 CI: HIP with https
  .github/workflows/setup/hip.sh
Labels: CI

#737 Explicit solver with Ion motion
  CMakeLists.txt
  examples/linear_wake/analysis_equal.py
  examples/linear_wake/inputs_ion_motion_SI
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/MultiPlasma.H
  src/particles/MultiPlasma.cpp
  src/particles/PlasmaParticleContainer.H
  src/particles/deposition/PlasmaDepositCurrent.cpp
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
  tests/checksum/benchmarks_json/ion_motion.SI.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/reset_all_benchmarks.sh
  tests/ion_motion.SI.1Rank.sh
Labels: component: plasma, component: fields

#742 Split up explicit and predictor-corrector solver
  src/Hipace.H
  src/Hipace.cpp
  src/fields/Fields.cpp
Labels: cleaning
