Repository Hi-PACE/hipace, pull requests merged in 2022-10, with the labels that each got.

#776 Add Array2 and Array3 to avoid unnecessary z index
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/fields/fft_poisson_solver/FFTPoissonSolverDirichlet.cpp
  src/fields/fft_poisson_solver/FFTPoissonSolverPeriodic.cpp
  src/fields/fft_poisson_solver/fft/WrapCuDST.cpp
  src/fields/fft_poisson_solver/fft/WrapRocDST.cpp
  src/particles/PlasmaParticleContainer.cpp
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/deposition/BeamDepositCurrentInner.H
  src/particles/deposition/PlasmaDepositCurrentInner.H
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/FieldGather.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/utils/GPUUtil.H
  src/utils/GridCurrent.cpp
Labels: component: fields, cleaning

#798 Fix unwanted GPU memory access by CPU
  src/particles/BoxSort.H
  src/particles/BoxSort.cpp
Labels: GPU, performance

#801 Fix CPU depositing unnecessary currents
  src/particles/deposition/PlasmaDepositCurrentInner.H
Labels: bug

#797 Don’t synchronize after MFIter loops
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/fields/fft_poisson_solver/FFTPoissonSolverDirichlet.cpp
  src/fields/fft_poisson_solver/FFTPoissonSolverPeriodic.cpp
  src/laser/Laser.cpp
  src/particles/MultiBeam.cpp
  src/particles/PlasmaParticleContainer.H
  src/particles/PlasmaParticleContainer.cpp
  src/particles/PlasmaParticleContainerInit.cpp
  src/utils/GPUUtil.H
  src/utils/GridCurrent.cpp
  src/utils/HipaceProfilerWrapper.H
Labels: GPU, performance

#743 Laser envelope solver (finally!)
  CMakeLists.txt
  docs/source/run/parameters.rst
  examples/laser/analysis_laser_vacuum.py
  examples/laser/inputs_SI
  src/Hipace.H
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/diagnostics/Diagnostic.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/laser/Laser.H
  src/laser/Laser.cpp
  src/particles/MultiPlasma.H
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/deposition/PlasmaDepositCurrentInner.H
  src/particles/pusher/FieldGather.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/utils/AdaptiveTimeStep.H
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/benchmarks_json/laser_evolution.SI.2Rank.json
  tests/checksum/reset_all_benchmarks.sh
  tests/laser_blowout_wake_explicit.1Rank.sh
  tests/laser_blowout_wake_explicit.SI.1Rank.sh
  tests/laser_evolution.SI.2Rank.sh
Labels: GPU, Parallelization, pipeline, component: laser envelope

#806 reset chi in PC when using laser
  src/Hipace.cpp
Labels: bug, component: laser envelope
