Repository Hi-PACE/hipace, pull requests merged in 2023-01, with the labels that each got.

#842 Add production examples
  CMakeLists.txt
  docs/source/run/get_started.rst
  docs/source/run/inputs_lwfa.rst
  docs/source/run/inputs_pwfa.rst
  examples/get_started/inputs_lwfa
  examples/get_started/inputs_pwfa
  tests/checksum/benchmarks_json/production.SI.2Rank_lwfa.json
  tests/checksum/benchmarks_json/production.SI.2Rank_pwfa.json
  tests/checksum/checksum.py
  tests/checksum/reset_all_benchmarks.sh
  tests/production.SI.2Rank.sh
Labels: documentation, CI

#846 Bug fix:reset plasma only once the time step is known
  src/Hipace.cpp
  tests/checksum/benchmarks_json/production.SI.2Rank_lwfa.json
Labels: bug, component: plasma, Parallelization, pipeline

#848 Reset plasma position before push
  src/Hipace.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/GetAndSetPosition.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/particles/pusher/PushPlasmaParticles.H
  tests/checksum/benchmarks_json/adaptive_time_step.1Rank.json
  tests/checksum/benchmarks_json/beam_in_vacuum.SI.1Rank.json
  tests/checksum/benchmarks_json/blowout_wake.2Rank.json
  tests/checksum/benchmarks_json/blowout_wake.Serial.json
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/reset.2Rank.json
Labels: bug, component: plasma

#852 User defined Ez chirp in SALAME algorithm
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/salame/Salame.H
  src/salame/Salame.cpp
  src/utils/Parser.H
Labels: component: beam

#853 option to focus the beam at arbitrary position
  docs/source/run/parameters.rst
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
Labels: documentation, component: beam

#855 Remove unnecessary copy of BeamBins
  src/particles/beam/MultiBeam.cpp
  src/particles/sorting/BoxSort.cpp
Labels: bug, component: beam

#850 Gather ExmBy and EypBx as derivatives of Psi
  src/particles/deposition/ExplicitDeposition.cpp
  src/particles/particles_utils/FieldGather.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/PlasmaParticleAdvance.cpp
  tests/checksum/benchmarks_json/blowout_wake.2Rank.json
  tests/checksum/benchmarks_json/blowout_wake.Serial.json
  tests/checksum/benchmarks_json/blowout_wake_explicit.2Rank.json
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/gaussian_linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/ion_motion.SI.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.SI.1Rank.json
  tests/checksum/benchmarks_json/linear_wake.normalized.1Rank.json
  tests/checksum/benchmarks_json/production.SI.2Rank_lwfa.json
  tests/checksum/benchmarks_json/production.SI.2Rank_pwfa.json
  tests/checksum/benchmarks_json/reset.2Rank.json
  tests/laser_blowout_wake_explicit.1Rank.sh
  tests/laser_blowout_wake_explicit.SI.1Rank.sh
Labels: component: plasma, component: beam, component: fields

#847 Add leapfrog pusher for plasma
  CMakeLists.txt
  docs/source/building/building.rst
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/collisions/CoulombCollision.cpp
  src/particles/deposition/PlasmaDepositCurrent.H
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/GetAndSetPosition.H
  src/particles/pusher/PlasmaParticleAdvance.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/particles/pusher/PushPlasmaParticles.H
  src/particles/pusher/UpdateForceTerms.H
  src/salame/Salame.cpp
  src/utils/DualNumbers.H
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
  tests/checksum/benchmarks_json/production.SI.2Rank_lwfa.json
  tests/checksum/benchmarks_json/production.SI.2Rank_pwfa.json
Labels: component: plasma

#856 Get correct central point for the phase calculation in laser advance
  src/laser/MultiLaser.cpp
Labels: bug, component: laser envelope
