Repository Hi-PACE/hipace, pull requests merged in 2023-08, with the labels that each got.

#1001 Include SALAME beam profile in first output iteration
  src/Hipace.cpp
Labels: component: beam, component: diagnostics

#998 fix B field conversion in radiation reactions in normalized units
  src/particles/pusher/BeamParticleAdvance.cpp
Labels: bug, component: beam

#1004 Communicate lambda0 with laser from file
  src/laser/MultiLaser.H
  src/laser/MultiLaser.cpp
Labels: bug, component: laser envelope

#1005 Add ghost cells to laser arrays for 2^n-1 MG solve
  src/laser/MultiLaser.cpp
Labels: bug, component: laser envelope

#1007 set MG_tolerance_abs to numeric_limits min
  src/Hipace.H
Labels: bug

#1003 Add deposit_rho_individual option
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/diagnostics/Diagnostic.cpp
  src/fields/Fields.cpp
  src/particles/deposition/PlasmaDepositCurrent.cpp
Labels: component: plasma, component: diagnostics

#1000 Per-slice fixed_ppc beam initialization
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
  src/particles/profiles/GetInitialDensity.H
  src/particles/profiles/GetInitialMomentum.H
  src/utils/AdaptiveTimeStep.cpp
  tests/checksum/benchmarks_json/beam_in_vacuum.SI.1Rank.json
  tests/checksum/benchmarks_json/beam_in_vacuum.SI.Serial.json
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
  tests/checksum/benchmarks_json/collisions_beam.SI.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
Labels: component: beam

#1009 add plasma subcycling
  docs/source/run/parameters.rst
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/pusher/PlasmaParticleAdvance.cpp
Labels: component: plasma

#1010 Fix deposit_rho_individual with neutralizing background and SALAME
  src/particles/deposition/PlasmaDepositCurrent.cpp
Labels: bug

#1012 CMake: Verify HiPACE_..._src paths exit
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/openPMD.cmake
Labels: build
