Repository Hi-PACE/hipace, pull requests merged in 2023-07, with the labels that each got.

#994 [mini] reset ID incrementor before starting initializing a beam
  docs/source/run/parameters.rst
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
Labels: component: beam

#997 Add output_input option
  docs/source/run/parameters.rst
  src/Hipace.cpp
Labels: component: diagnostics

#991 Per-slice communication
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/diagnostics/Diagnostic.cpp
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
  src/laser/MultiLaser.H
  src/laser/MultiLaser.cpp
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/collisions/CoulombCollision.H
  src/particles/collisions/CoulombCollision.cpp
  src/particles/deposition/BeamDepositCurrent.H
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/BeamParticleAdvance.H
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/sorting/BoxSort.H
  src/particles/sorting/BoxSort.cpp
  src/particles/sorting/SliceSort.H
  src/particles/sorting/SliceSort.cpp
  src/particles/sorting/TileSort.H
  src/particles/sorting/TileSort.cpp
  src/salame/Salame.H
  src/salame/Salame.cpp
  src/utils/AdaptiveTimeStep.H
  src/utils/AdaptiveTimeStep.cpp
  src/utils/CMakeLists.txt
  src/utils/MultiBuffer.H
  src/utils/MultiBuffer.cpp
  tests/checksum/benchmarks_json/collisions_beam.SI.1Rank.json
  tests/checksum/benchmarks_json/ion_motion.SI.1Rank.json
  tests/checksum/benchmarks_json/production.SI.2Rank_pwfa.json
Labels: component: beam, GPU, performance, Parallelization, pipeline, component: laser envelope
