Repository Hi-PACE/hipace, pull requests merged in 2023-06, with the labels that each got.

#928 Update Beam and Plasma to Pure SoA
  src/Hipace.cpp
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
  src/particles/beam/MultiBeam.cpp
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/deposition/ExplicitDeposition.cpp
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/GetAndSetPosition.H
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/particles/sorting/BoxSort.cpp
  src/particles/sorting/SliceSort.cpp
  src/particles/sorting/TileSort.H
  src/particles/sorting/TileSort.cpp
  src/salame/Salame.cpp
  src/utils/AdaptiveTimeStep.cpp
Labels: component: plasma, component: beam

#953 Laser reader in cylindrical coordinates
  docs/source/run/parameters.rst
  src/laser/MultiLaser.H
  src/laser/MultiLaser.cpp
Labels: component: laser envelope

#954 Fix collisions in normalized units
  docs/source/run/parameters.rst
  src/Hipace.cpp
  src/particles/collisions/ComputeTemperature.H
  src/particles/collisions/CoulombCollision.H
  src/particles/collisions/CoulombCollision.cpp
  src/particles/collisions/ElasticCollisionPerez.H
  src/particles/collisions/UpdateMomentumPerez.H
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
Labels: component: plasma, unit system

#962 Enable ionization in normalized units
  src/particles/collisions/CoulombCollision.cpp
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: component: plasma

#964 Add [z], [z^2], [uz], [uz^2] and [z*uz] to beam insitu diagnostics
  docs/source/run/parameters.rst
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  tools/read_insitu_diagnostics.py
Labels: component: beam, component: diagnostics

#967 Fix bug in intra-species Coulomb collisions
  src/particles/collisions/CoulombCollision.cpp
  src/particles/collisions/ElasticCollisionPerez.H
  tests/checksum/benchmarks_json/collisions.SI.1Rank.json
Labels: bug, component: plasma

#969 [mini] assert for normalized units when total charge is specified
  src/particles/beam/BeamParticleContainer.cpp
Labels: component: beam, cleaning, unit system, non-backward-compatible

#970 fix compiler warning: use static_cast for extent
  src/laser/MultiLaser.cpp
Labels: cleaning, build

#973 add Bz component to beam pusher
  src/particles/pusher/BeamParticleAdvance.cpp
  tests/checksum/benchmarks_json/adaptive_time_step.1Rank.json
  tests/checksum/benchmarks_json/ionization.2Rank.json
  tests/checksum/benchmarks_json/production.SI.2Rank_pwfa.json
Labels: bug, component: beam, non-backward-compatible

#972 Minor improvements for collision module.
  docs/source/run/parameters.rst
  src/particles/collisions/CoulombCollision.cpp
  src/particles/collisions/ElasticCollisionPerez.H
  src/particles/collisions/UpdateMomentumPerez.H
Labels: bug, component: plasma, cleaning

#965 Generalize external E and B fields to uniform and linear in all directions
  docs/source/run/parameters.rst
  examples/beam_in_vacuum/analysis_beam_push.py
  src/Hipace.H
  src/Hipace.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/pusher/BeamParticleAdvance.H
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/ExternalFields.H
  tests/adaptive_time_step.1Rank.sh
  tests/beam_evolution.1Rank.sh
Labels: component: beam, non-backward-compatible

#974 add classical radiation reactions for beams
  CMakeLists.txt
  docs/source/run/parameters.rst
  examples/beam_in_vacuum/analysis_RR.py
  examples/beam_in_vacuum/inputs_RR
  src/Hipace.H
  src/Hipace.cpp
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/MultiBeam.H
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/utils/Constants.H
  tests/adaptive_time_step.1Rank.sh
  tests/checksum/benchmarks_json/radiation_reaction.1Rank.json
  tests/checksum/reset_all_benchmarks.sh
  tests/radiation_reaction.1Rank.sh
Labels: component: beam, non-backward-compatible

#976 fix some issues with the collision module
  src/particles/collisions/ElasticCollisionPerez.H
  src/particles/collisions/UpdateMomentumPerez.H
Labels: bug, component: plasma

#971 MR with SALAME and PC
  src/Hipace.H
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/deposition/BeamDepositCurrent.H
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/salame/Salame.H
  src/salame/Salame.cpp
Labels: mesh refinement

#975 don't use managed memory
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
  src/main.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/utils/Parser.H
Labels: GPU

#977 Add IntVect and RealVect overloads to queryWithParser
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/laser/Laser.cpp
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/profiles/GetInitialDensity.cpp
  src/particles/profiles/GetInitialMomentum.cpp
  src/utils/GridCurrent.cpp
  src/utils/Parser.H
Labels: cleaning

#978 always use PhysConstSI in parser
  docs/source/run/parameters.rst
  src/Hipace.cpp
  src/utils/Parser.H
Labels: unit system, non-backward-compatible

#980 Cleaning collisions and preparing UpdateMomentumPerez for beams
  src/particles/collisions/ComputeTemperature.H
  src/particles/collisions/CoulombCollision.cpp
  src/particles/collisions/ElasticCollisionPerez.H
  src/particles/collisions/UpdateMomentumPerez.H
Labels: cleaning

#982 [mini] remove passing of ibox
  src/Hipace.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/sorting/SliceSort.H
  src/particles/sorting/SliceSort.cpp
Labels: cleaning

#979 Add option to allocate mpi buffers in device memory
  docs/source/run/parameters.rst
  src/Hipace.H
  src/Hipace.cpp
Labels: GPU, Parallelization

#984 Remove z component from plasma
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: component: plasma, cleaning

#981 [mini] clean GetInstance() and use static inline
  src/Hipace.H
  src/fields/Fields.cpp
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainerInit.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/utils/AdaptiveTimeStep.cpp
  src/utils/GridCurrent.cpp
Labels: cleaning

#985 remove OK assert
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: bug, component: plasma

#986 break loop over time steps for max_time
  src/Hipace.cpp
Labels: bug

#987 Fix output logic for insitu diags
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/utils/IOUtil.H
  src/utils/IOUtil.cpp
Labels: cleaning, component: diagnostics

#988 Cut box to plasma radius in init
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: component: plasma, performance
