Repository Hi-PACE/hipace, pull requests merged in 2023-02, with the labels that each got.

#862 Fix AdaptiveTimeStep for low density beams
  src/utils/AdaptiveTimeStep.cpp
Labels: bug, component: beam

#861 Prevent perfectly centered plasma particle
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: component: plasma

#863 replace 22.12 with 23.02
  CMakeLists.txt
  docs/source/conf.py
  license.txt
Labels: documentation

#864 plasmas.names is now an optional parameter, default no_plasma, and same for beam and laser
  docs/source/run/parameters.rst
  examples/beam_in_vacuum/inputs_SI
  examples/beam_in_vacuum/inputs_normalized
  examples/beam_in_vacuum/inputs_normalized_transverse
  examples/blowout_wake/inputs_SI
  examples/blowout_wake/inputs_ionization_SI
  examples/blowout_wake/inputs_normalized
  examples/gaussian_weight/inputs_SI
  examples/gaussian_weight/inputs_normalized
  examples/get_started/inputs_lwfa
  examples/get_started/inputs_normalized
  examples/get_started/inputs_pwfa
  examples/laser/inputs_SI
  examples/linear_wake/inputs_SI
  examples/linear_wake/inputs_ion_motion_SI
  examples/linear_wake/inputs_normalized
  src/laser/MultiLaser.H
  src/laser/MultiLaser.cpp
  src/particles/beam/MultiBeam.H
  src/particles/beam/MultiBeam.cpp
  src/particles/plasma/MultiPlasma.H
  src/particles/plasma/MultiPlasma.cpp
Labels: documentation, component: plasma, component: beam, cleaning, component: laser envelope

#865 fix typo found by Sarah
  docs/source/run/parameters.rst
  src/particles/plasma/PlasmaParticleContainerInit.cpp
Labels: documentation

#868 Use only one MultiFab for all field slices
  src/Hipace.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/laser/MultiLaser.cpp
  src/particles/deposition/BeamDepositCurrent.cpp
  src/particles/deposition/ExplicitDeposition.cpp
  src/particles/deposition/PlasmaDepositCurrent.cpp
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/particles/pusher/BeamParticleAdvance.cpp
  src/particles/pusher/PlasmaParticleAdvance.cpp
  src/salame/Salame.cpp
  src/utils/GridCurrent.cpp
Labels: component: fields, cleaning

#869 Assert that insitu and full diagnostics file prefixes are different
  src/particles/beam/BeamParticleContainer.cpp
Labels: component: beam, component: diagnostics

#875 Increase tolerance on production runs
  tests/production.SI.2Rank.sh
Labels: CI
