Repository Hi-PACE/hipace, pull requests merged in 2024-01, with the labels that each got.

#1046 Make laser output LASY compliant
  docs/source/run/parameters.rst
  examples/get_started/inputs_lwfa
  examples/get_started/inputs_pwfa
  examples/laser/analysis_laser_vacuum.py
  src/Hipace.cpp
  src/diagnostics/Diagnostic.H
  src/diagnostics/Diagnostic.cpp
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/laser/MultiLaser.H
  src/utils/IOUtil.H
  src/utils/IOUtil.cpp
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.1Rank.json
  tests/checksum/benchmarks_json/laser_blowout_wake_explicit.SI.1Rank.json
  tests/checksum/benchmarks_json/laser_evolution.SI.2Rank.json
  tests/checksum/benchmarks_json/production.SI.2Rank_lwfa.json
Labels: component: diagnostics, component: laser envelope, non-backward-compatible

#1053 Add zyx geometry for laser input
  src/laser/MultiLaser.cpp
Labels: component: laser envelope

#1052 Clean-up in-situ diagnostic
  docs/source/run/parameters.rst
  src/fields/Fields.H
  src/fields/Fields.cpp
  src/fields/OpenBoundary.H
  src/particles/beam/BeamParticleContainer.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainer.H
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/utils/TemplateUtil.H
Labels: cleaning, component: diagnostics

#1059 DepositCurrent: atomicAdd -> lockAdd
  src/particles/deposition/PlasmaDepositCurrent.cpp
Labels: component: plasma, performance

#1061 Use AMReX version of TypeMultiplier
  src/fields/Fields.cpp
  src/fields/OpenBoundary.H
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/plasma/PlasmaParticleContainer.cpp
  src/utils/TemplateUtil.H
Labels: cleaning
