Repository Hi-PACE/hipace, pull requests merged in 2025-04, with the labels that each got.

#1224 update openPMD to latest version
  .github/workflows/windows.yml
  cmake/dependencies/openPMD.cmake
  docs/source/building/building.rst
Labels: build, CI

#1227 Resize Beam Diagnostic buffer
  src/Hipace.cpp
  src/diagnostics/OpenPMDWriter.H
  src/diagnostics/OpenPMDWriter.cpp
Labels: component: diagnostics

#1232 Update Ubuntu version of CI tests
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/setup/hip.sh
Labels: CI

#1236 Remove CONDA from CUDA Local CI
  .github/workflows/cudaLocal.yml
Labels: bug, CI

#1172 Beam read_from_file also reads spin
  src/particles/beam/BeamParticleContainer.cpp
  src/particles/beam/BeamParticleContainerInit.cpp
Labels: component: beam

#1235 Fix laser from file hanging with MPI
  src/laser/MultiLaser.cpp
Labels: bug, Parallelization
